[submodule "mobile"]
	path = mobile
	url = https://github.com/tganeev/ClinicApp.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/MagnusCat/hakaton-frontend
	branch = main
[submodule "ai_model"]
	path = ai_model
	url = https://github.com/haitaks/clinic_lm.git
	branch = main
